In [3]:
import pandas as pd

In [8]:
#All AOD data fron a single month 
AOD_month= pd.read_csv('../data_s/red_estaciones_todos_2018.csv')
AOD_month.head()

    id  Optical_Depth_047  AOD_Uncertainty  hour_day            timestamp
0  AJU                NaN              NaN        18  2018-01-01T18:10:00
1  AJM                NaN              NaN        18  2018-01-01T18:10:00
2  DIC                NaN              NaN        18  2018-01-01T18:10:00
3  EAJ                NaN              NaN        18  2018-01-01T18:10:00
4  CCA                NaN              NaN        18  2018-01-01T18:10:00

In [9]:
AOD_month= AOD_month[ AOD_month['Optical_Depth_047'].isna()== False]
AOD_month.reset_index(drop=True, inplace=True)
AOD_month.head()

    id  Optical_Depth_047  AOD_Uncertainty  hour_day            timestamp
0  DIC              939.0            197.0        19  2018-01-01T19:40:00
1  CCA             1171.0            239.0        19  2018-01-01T19:40:00
2  UAX              920.0            238.0        19  2018-01-01T19:40:00
3  UIZ              680.0            454.0        19  2018-01-01T19:40:00
4  MPA              970.0            194.0        19  2018-01-01T19:40:00

In [10]:
AOD_month['Estacion']= AOD_month['id']
AOD_month.drop(columns='id', inplace=True)
AOD_month.head()

   Optical_Depth_047  AOD_Uncertainty  hour_day            timestamp Estacion
0              939.0            197.0        19  2018-01-01T19:40:00      DIC
1             1171.0            239.0        19  2018-01-01T19:40:00      CCA
2              920.0            238.0        19  2018-01-01T19:40:00      UAX
3              680.0            454.0        19  2018-01-01T19:40:00      UIZ
4              970.0            194.0        19  2018-01-01T19:40:00      MPA

In [11]:
AOD_month.shape

(4042, 5)

## Get the data from the PM2.5 stations

In [14]:
pm2_5_estaciones =  pd.read_csv('../data_s/PM2.5/PM2_5_2004-2021.csv', sep =';')

In [17]:
pm2_5_estaciones.drop(columns='Unnamed: 0',  inplace = True)
pm2_5_estaciones.head()

    CVE_EST       FECHA  HORA PARAMETRO  VALOR            UNIDAD
0  ACO_ZMVM  2004-01-01     1     pm2.5    NaN  µg/m<sup>3</sup>
1  ACO_ZMVM  2004-01-01     2     pm2.5    NaN  µg/m<sup>3</sup>
2  ACO_ZMVM  2004-01-01     3     pm2.5    NaN  µg/m<sup>3</sup>
3  ACO_ZMVM  2004-01-01     4     pm2.5    NaN  µg/m<sup>3</sup>
4  ACO_ZMVM  2004-01-01     5     pm2.5    NaN  µg/m<sup>3</sup>

In [23]:

pm2_5_estaciones= pm2_5_estaciones[pm2_5_estaciones['VALOR'].isna() ==False]
pm2_5_estaciones.head()

        CVE_EST       FECHA  HORA PARAMETRO  VALOR            UNIDAD
26304  ACO_ZMVM  2007-06-01     1     pm2.5   17.0  µg/m<sup>3</sup>
26305  ACO_ZMVM  2007-06-01     2     pm2.5   11.0  µg/m<sup>3</sup>
26306  ACO_ZMVM  2007-06-01     3     pm2.5   16.0  µg/m<sup>3</sup>
26307  ACO_ZMVM  2007-06-01     4     pm2.5   23.0  µg/m<sup>3</sup>
26308  ACO_ZMVM  2007-06-01     5     pm2.5   26.0  µg/m<sup>3</sup>

In [25]:
pm2_5_estaciones.FECHA= pd.to_datetime(pm2_5_estaciones.FECHA)

In [34]:
pm2_5_estaciones_2018=  pm2_5_estaciones[(pm2_5_estaciones.FECHA > pd.to_datetime('2018-01-01')) & (pm2_5_estaciones.FECHA < pd.to_datetime('2019-01-01'))]

In [35]:
pm2_5_estaciones_2018

          CVE_EST      FECHA  HORA PARAMETRO  VALOR            UNIDAD
270714   AJM_ZMVM 2018-01-05    10     pm2.5    1.0  µg/m<sup>3</sup>
270715   AJM_ZMVM 2018-01-05    11     pm2.5    1.0  µg/m<sup>3</sup>
270716   AJM_ZMVM 2018-01-05    12     pm2.5    1.0  µg/m<sup>3</sup>
270873   AJM_ZMVM 2018-01-12     1     pm2.5    1.0  µg/m<sup>3</sup>
270874   AJM_ZMVM 2018-01-12     2     pm2.5    1.0  µg/m<sup>3</sup>
...           ...        ...   ...       ...    ...               ...
5334304  XAL_ZMVM 2018-12-13    15     pm2.5    1.0  µg/m<sup>3</sup>
5334305  XAL_ZMVM 2018-12-13    16     pm2.5    1.0  µg/m<sup>3</sup>
5334471  XAL_ZMVM 2018-12-20    14     pm2.5    1.0  µg/m<sup>3</sup>
5334472  XAL_ZMVM 2018-12-20    15     pm2.5    1.0  µg/m<sup>3</sup>
5334473  XAL_ZMVM 2018-12-20    16     pm2.5    1.0  µg/m<sup>3</sup>

[110076 rows x 6 columns]

Tomemos solo las de la sona metropolitana

In [38]:
pm2_5_estaciones_2018= pm2_5_estaciones_2018[pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: 'ZMVM' in l)]

In [40]:
a = 'aaa_aa'
a.split('_')

['aaa', 'aa']

In [42]:
pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: l.split('_')[0] ).unique()

array(['AJM', 'AJU', 'BJU', 'CAM', 'CCA', 'GAM', 'HGM', 'INN', 'MER',
       'MGH', 'NEZ', 'SAG', 'SFE', 'TLA', 'UAX', 'UIZ', 'XAL'],
      dtype=object)

In [54]:
esta_rep = pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: l.split('_')[0] ).unique()
AOD_est = AOD_month.Estacion.unique()
for est in esta_rep:
    if not (est in AOD_est):
        print('La siguiente estacion no esta: ', est)

La siguiente estacion no esta:  SFE

In [58]:
esta_rep = pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: l.split('_')[0] ).unique()
AOD_est = AOD_month.Estacion.unique()
NO_PM5= []
for est in AOD_est:
    if not (est in esta_rep):
        print('La siguiente estacion no esta: ', est)
        NO_PM5.append(est)

La siguiente estacion no esta:  DIC
La siguiente estacion no esta:  MPA
La siguiente estacion no esta:  MCM
La siguiente estacion no esta:  IBM
La siguiente estacion no esta:  LOM
La siguiente estacion no esta:  PED
La siguiente estacion no esta:  CUA
La siguiente estacion no esta:  CHO
La siguiente estacion no esta:  MON
La siguiente estacion no esta:  TLI
La siguiente estacion no esta:  FAR
La siguiente estacion no esta:  FAC
La siguiente estacion no esta:  ATI
La siguiente estacion no esta:  IZT
La siguiente estacion no esta:  COR
La siguiente estacion no esta:  TAH
La siguiente estacion no esta:  LLA
La siguiente estacion no esta:  VIF
La siguiente estacion no esta:  ACO
La siguiente estacion no esta:  EAJ
La siguiente estacion no esta:  LAA
La siguiente estacion no esta:  EDL
La siguiente estacion no esta:  TEC
La siguiente estacion no esta:  CUT
La siguiente estacion no esta:  LPR


Vamos a utilizar solo las estaciones que tengan PM 25 en las tablas y que se encuentren en las que se tienen los valores de AOD

In [57]:
pm2_5_estaciones_2018

          CVE_EST      FECHA  HORA PARAMETRO  VALOR            UNIDAD
270714   AJM_ZMVM 2018-01-05    10     pm2.5    1.0  µg/m<sup>3</sup>
270715   AJM_ZMVM 2018-01-05    11     pm2.5    1.0  µg/m<sup>3</sup>
270716   AJM_ZMVM 2018-01-05    12     pm2.5    1.0  µg/m<sup>3</sup>
270873   AJM_ZMVM 2018-01-12     1     pm2.5    1.0  µg/m<sup>3</sup>
270874   AJM_ZMVM 2018-01-12     2     pm2.5    1.0  µg/m<sup>3</sup>
...           ...        ...   ...       ...    ...               ...
5334304  XAL_ZMVM 2018-12-13    15     pm2.5    1.0  µg/m<sup>3</sup>
5334305  XAL_ZMVM 2018-12-13    16     pm2.5    1.0  µg/m<sup>3</sup>
5334471  XAL_ZMVM 2018-12-20    14     pm2.5    1.0  µg/m<sup>3</sup>
5334472  XAL_ZMVM 2018-12-20    15     pm2.5    1.0  µg/m<sup>3</sup>
5334473  XAL_ZMVM 2018-12-20    16     pm2.5    1.0  µg/m<sup>3</sup>

[41510 rows x 6 columns]

In [60]:
pm2_5_estaciones_2018['Estacion']= pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: l.split('_')[0])

/tmp/ipykernel_107091/3700421851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm2_5_estaciones_2018['Estacion']= pm2_5_estaciones_2018['CVE_EST'].apply(lambda l: l.split('_')[0])

In [65]:
from datetime import datetime
from dateutil import tz

In [ ]:
from_zone = tz.gettz('UTC')
to_zone = tz.gettz()

In [76]:
AOD_month['TIME_STAMP'] = pd.to_datetime(AOD_month['timestamp'])

In [77]:
AOD_month

,Optical_Depth_047,AOD_Uncertainty,hour_day,timestamp,Estacion,TIME_STAMP
0,939.0,197.0,19,2018-01-01T19:40:00,DIC,2018-01-01 19:40:00
1,1171.0,239.0,19,2018-01-01T19:40:00,CCA,2018-01-01 19:40:00
2,920.0,238.0,19,2018-01-01T19:40:00,UAX,2018-01-01 19:40:00
3,680.0,454.0,19,2018-01-01T19:40:00,UIZ,2018-01-01 19:40:00
4,970.0,194.0,19,2018-01-01T19:40:00,MPA,2018-01-01 19:40:00
...,...,...,...,...,...,...
4037,312.0,558.0,20,2018-12-31T20:05:00,IBM,2018-12-31 20:05:00
4038,302.0,763.0,20,2018-12-31T20:05:00,MER,2018-12-31 20:05:00
4039,370.0,762.0,20,2018-12-31T20:05:00,ACO,2018-12-31 20:05:00
4040,391.0,826.0,20,2018-12-31T20:05:00,FAR,2018-12-31 20:05:00
4041,363.0,855.0,20,2018-12-31T20:05:00,LPR,2018-12-31 20:05:00

In [82]:
[0]

Timestamp('2018-01-01 19:40:00')

In [86]:
AOD_month['Mexico_city_time']= AOD_month['TIME_STAMP'].dt.tz_localize('UTC').dt.tz_convert('America/Mexico_City')
#tz_localize('utc').tz_convert('America/Mexico_City')
AOD_month['Mexico_city_hour'] = AOD_month['Mexico_city_time'].apply(lambda l: l.hour)
AOD_month['Mexico_city_date'] = AOD_month['Mexico_city_time'].apply(lambda l: l.date)

In [110]:
AOD_month['Mexico_city_date'][0]

datetime.date(2018, 1, 1)

In [ ]:
AOD_month

In [114]:

pm2_5_estaciones_2018['FECHA_date']= pm2_5_estaciones_2018['FECHA'].apply(lambda l: l.date())

/tmp/ipykernel_107091/4165706453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm2_5_estaciones_2018['FECHA_date']= pm2_5_estaciones_2018['FECHA'].apply(lambda l: l.date())

In [116]:
AOD_PM25_estaciones =  AOD_month.merge(pm2_5_estaciones_2018, how= 'left', right_on = ['Estacion','HORA', 'FECHA_date' ], left_on=['Estacion','Mexico_city_hour' ,'Mexico_city_date' ])

In [118]:
AOD_PM25_estaciones.tail()

,Optical_Depth_047,AOD_Uncertainty,hour_day,timestamp,Estacion,TIME_STAMP,Mexico_city_time,Mexico_city_hour,Mexico_city_date,CVE_EST,FECHA,HORA,PARAMETRO,VALOR,UNIDAD,FECHA_date
4037,312.0,558.0,20,2018-12-31T20:05:00,IBM,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4038,302.0,763.0,20,2018-12-31T20:05:00,MER,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,MER_ZMVM,2018-12-31,14.0,pm2.5,14.0,µg/m<sup>3</sup>,2018-12-31
4039,370.0,762.0,20,2018-12-31T20:05:00,ACO,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4040,391.0,826.0,20,2018-12-31T20:05:00,FAR,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4041,363.0,855.0,20,2018-12-31T20:05:00,LPR,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [124]:
AOD_PM25_estaciones_sel=  AOD_PM25_estaciones[AOD_PM25_estaciones['VALOR'].isna()==False]

In [125]:
AOD_PM25_estaciones_sel

,Optical_Depth_047,AOD_Uncertainty,hour_day,timestamp,Estacion,TIME_STAMP,Mexico_city_time,Mexico_city_hour,Mexico_city_date,CVE_EST,FECHA,HORA,PARAMETRO,VALOR,UNIDAD,FECHA_date
38,419.0,131.0,18,2018-01-03T18:00:00,NEZ,2018-01-03 18:00:00,2018-01-03 12:00:00-06:00,12,2018-01-03,NEZ_ZMVM,2018-01-03,12.0,pm2.5,57.0,µg/m<sup>3</sup>,2018-01-03
40,442.0,180.0,18,2018-01-03T18:00:00,SAG,2018-01-03 18:00:00,2018-01-03 12:00:00-06:00,12,2018-01-03,SAG_ZMVM,2018-01-03,12.0,pm2.5,39.0,µg/m<sup>3</sup>,2018-01-03
49,647.0,222.0,19,2018-01-03T19:25:00,NEZ,2018-01-03 19:25:00,2018-01-03 13:25:00-06:00,13,2018-01-03,NEZ_ZMVM,2018-01-03,13.0,pm2.5,29.0,µg/m<sup>3</sup>,2018-01-03
56,674.0,1181.0,20,2018-01-04T20:10:00,NEZ,2018-01-04 20:10:00,2018-01-04 14:10:00-06:00,14,2018-01-04,NEZ_ZMVM,2018-01-04,14.0,pm2.5,33.0,µg/m<sup>3</sup>,2018-01-04
58,538.0,2060.0,20,2018-01-04T20:10:00,SAG,2018-01-04 20:10:00,2018-01-04 14:10:00-06:00,14,2018-01-04,SAG_ZMVM,2018-01-04,14.0,pm2.5,41.0,µg/m<sup>3</sup>,2018-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4012,116.0,112.0,20,2018-12-30T20:55:00,MER,2018-12-30 20:55:00,2018-12-30 14:55:00-06:00,14,2018-12-30,MER_ZMVM,2018-12-30,14.0,pm2.5,2.0,µg/m<sup>3</sup>,2018-12-30
4021,139.0,197.0,20,2018-12-30T20:55:00,SAG,2018-12-30 20:55:00,2018-12-30 14:55:00-06:00,14,2018-12-30,SAG_ZMVM,2018-12-30,14.0,pm2.5,12.0,µg/m<sup>3</sup>,2018-12-30
4024,190.0,161.0,20,2018-12-30T20:55:00,TLA,2018-12-30 20:55:00,2018-12-30 14:55:00-06:00,14,2018-12-30,TLA_ZMVM,2018-12-30,14.0,pm2.5,10.0,µg/m<sup>3</sup>,2018-12-30
4031,302.0,763.0,20,2018-12-31T20:05:00,MER,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,MER_ZMVM,2018-12-31,14.0,pm2.5,14.0,µg/m<sup>3</sup>,2018-12-31
4038,302.0,763.0,20,2018-12-31T20:05:00,MER,2018-12-31 20:05:00,2018-12-31 14:05:00-06:00,14,2018-12-31,MER_ZMVM,2018-12-31,14.0,pm2.5,14.0,µg/m<sup>3</sup>,2018-12-31

In [127]:
from sklearn import  linear_model
import matplotlib.pyplot as plt

In [131]:
X= AOD_PM25_estaciones_sel['Optical_Depth_047'].values
Y= AOD_PM25_estaciones_sel['VALOR'].values

In [137]:
Y.reshape(Y.shape, 1)

array([ 57.,  39.,  29.,  33.,  41.,   1.,  53.,  12.,  23.,  34.,  37.,
        24.,  31.,  32.,  25.,  13.,  20.,   1.,  45.,  60.,  27.,   1.,
        20.,  43.,  43.,  58.,  62.,  23.,  46.,  42.,  43.,   1.,  23.,
        16.,   1.,  24.,   1.,  45.,  45.,  78.,  54.,  41.,  44.,  19.,
         1.,  29.,  54.,  35.,  18.,  22.,  16.,  13.,  13.,  21.,  34.,
        24.,  27.,  22.,  21.,  39.,  22.,  22.,  71.,  53.,  71.,  77.,
        17.,  21.,  34.,  22.,  41.,  31.,  12.,  32.,  24.,  29.,  44.,
        34.,  45.,  49.,  16.,  31.,  43.,  39.,  35.,  73.,   1.,  45.,
        32.,  16.,  28.,  32.,  47.,  61.,  35.,  53.,  29.,  25.,  12.,
        54.,  67.,  48.,  51.,   1.,  37.,  31.,  32.,  25.,  34.,  30.,
        11.,   8.,  40.,  34.,  30.,  35.,   8.,  37.,  53.,  21.,  41.,
        12.,   9.,  19.,  23.,  20.,  30.,  24.,  14.,  52.,  50.,  19.,
        20.,  14.,   1.,  19.,  70.,  23.,   6.,  23.,  34.,   1.,  23.,
        21.,  23.,  10.,  19.,  17.,  22.,  15.,  25.,  16.,  25.,  13.,
        39.,  35.,  42.,  30.,  31.,  31.,  18.,  15.,  15.,  11.,   9.,
         4.,   1.,  24.,  28.,  19.,  17.,  26.,  23.,  24.,  10.,  18.,
        12.,   7.,  23.,  32.,  38.,  19.,  19.,   1.,  26.,   9.,  20.,
        23.,  18.,  25.,  25.,  10.,  15.,  33.,  20.,  16.,   9.,   9.,
         8.,  16.,  10.,  10.,  17.,  20.,  15.,  21.,  29.,  13.,  25.,
         8.,  16.,  18.,  56.,  20.,  13.,  16.,  21.,  14.,   6.,  11.,
        33.,  14.,  27.,  19.,   8.,  19.,  15.,  13.,  12.,  15.,  17.,
        24.,  12.,  18.,  20.,  17.,  14.,  12.,  19.,  16.,  11.,  13.,
        13.,  14.,  11.,   7.,   9.,  13.,  15.,  10.,   1.,   8.,   6.,
         1.,   8.,  32.,  25.,   1.,  15.,  14.,  15.,  24.,  20.,  11.,
        24.,  23.,  19.,   8.,  12.,   1.,  12.,  25.,   7.,  11.,  35.,
         9.,  21.,  25.,  13.,   9.,  10.,  27.,  36.,   7.,   1.,   1.,
         5.,   4.,   5.,   8.,  14.,  25.,  19.,  26.,   6.,  41.,   1.,
        20.,   2.,  14.,  16.,  10.,  36.,  18.,  12.,  10.,  15.,  16.,
        14.,  33.,  34.,  16.,  33.,  46.,  44.,  29.,  45.,  57.,   1.,
        28., 111.,  35.,  21.,  16.,  28.,   1.,  17.,  36.,  54.,  13.,
        36.,  29.,  32.,  45.,  21.,  32.,  24.,  14.,  31.,  38.,  29.,
        29.,  27.,  41.,  28.,  27.,  21.,  55.,  15.,  26.,  26.,  23.,
        27.,  14.,  16.,  27.,  41.,  93.,  54.,  20.,  29.,  32.,  29.,
        53.,  38.,  16.,  43.,   4.,  10.,   7.,  10.,  37.,  14.,   1.,
        16.,  14.,   1.,   6.,   1.,   8.,   1.,   7.,   8.,   4.,  16.,
        31.,  20.,  39.,  21.,  29.,  20.,  46.,  39.,  32.,  54.,  55.,
        48.,  37.,  31.,   4.,  16.,   1.,  13.,  71.,  46., 111.,  69.,
        65.,  53.,  81.,  34.,  52.,  36.,  63.,  81.,  23.,  15.,  13.,
        16.,  11.,   1.,   9.,  21.,   1.,  12.,  27.,  46.,  49.,   1.,
        34.,  31.,  38.,  16.,  38.,  14.,   1.,  13.,  37.,  31.,  44.,
        38.,  59.,  36.,  30.,  38.,  52.,  45.,  54.,  56.,  67.,  39.,
        51.,  38.,  49.,  41.,  42.,  43.,   9.,  13.,   1.,   9.,  10.,
         9.,   1.,  15.,  11.,   1.,   2.,  12.,  10.,  14.,  14.])

In [130]:

regr = linear_model.LinearRegression()
regr.fit(X, Y)
plt.scatter(X, Y,  color='black')
plt.plot(X, regr.predict(X), color='blue', linewidth=3)
plt.xticks(())
plt.yticks(())

ValueError: Expected 2D array, got 1D array instead:
array=[ 419.  442.  647.  674.  538.  421.  566.  311.  311.  410.  106.  115.
  119.  127.  108.  127.  122.   19.   77.   72.   20.  181.  185.  172.
  136.  391.  323.  240.  269.  215.  218.  114.  156.  162.  197.  117.
   67.  113.  239.  184.  306.  268.  184.  253.  459.  542.  582.  279.
  302.  289.  244.  272.  314.  265.  501.  343.  419.  480.  474.  568.
  629.  541.  669.  636.  520.  652.  455.  441.  407.  106.  124.  103.
  195.  199.  230.  198.  381.  333.  402.  354.  552.  830.  779.  581.
  675.  565.  463.  801.  566.  575.  537.  734.  873.  768.  445.  691.
  574.  495.  591.  483.  406.  563.  443.   76.  203.  289.  368.  143.
  540.  348.  335.  439.  498.  501.  530.  346.  246.  362.  400.  175.
  205.  176.  127.  728.  707.  603.  589.  301.  448.  544.  446.  574.
  473.  171.  190.   73.   98.  134.  200.   19.   23.   32.   19.   19.
   27.  165.  134.  115.  166.  182.  255.  182.  255.  352.  227.  594.
  597.  410.  514.  306.  216.  236.  198.  127.  158.  243.  182.  483.
  581.  459.  597.  578.  536.  513.  411.  418.  386.  308.  316.  629.
 1216.  937.  711.  299.  493.  577.  512.  433.  456.  306.  653.  654.
  497.  476.  581.  561.  193.  181.  145.  147.  189.  503.  375.  422.
  409.  407.  390.  511.  845.  641.  533.  496.  411.  382.  389.  399.
  221.  185.  188.  190.  101.   38.  223.   28.   37.  291.  327.  274.
  296.  313.  311.  200.  267.  304.  246.  402.  419.  396.  275.  273.
  189.  141.  530.  516.  434.  408.  335.  403.  287.  242.  232.  196.
  179.  221.  255.  617.  410.  590.  510.  386.  261.  428.  529.  328.
  498.  478.  459.  393.  438.  436.  529.  479.  341.  314.  385.  307.
  280.  302.  400.  414.  408.  580.  500.  260.  316.  116.  135.  158.
   46.  143.  344.  364.  455.  504.  182.  374.  412.  265.  219.  252.
  379.  211.  118.  174.  157.  247.  292.  294.  267.  530.  577.  414.
  745.  174.  186.  178.  148.  301.  401.  366.  201.  242.  231.  158.
  139.  173.  181.  280.  252.  154.  352.   43.   91.   95.   41.   36.
   86.  100.  175.  181.  153.  117.  212.  345.  300.  298.  245.  367.
  201.  318.  261.  453.  365.  357.  270.  566.  349.  382.  511.  276.
  255.  281.  647.  842.  803.  439.  786.   77.  112.  248.  401.  531.
   38.   48.   50.   44.   63.   43.   28.   19.   60.   19.   19.   28.
   51.  335.  276.  250.  176.  332.  493.  388.  570.  300.  538.  401.
  464.  403.  192.  107.  239.  123.  251.  837.  496.  493.  463.  512.
  469.  479.  429.  383.  364.  350.  461.  169.  109.   85.   40.   21.
   29.   32.   45.   82.   32.   25.   56.   28.   26.   19.   48.   34.
   75.  160.  115.   83.   87.  110.   74.  187.  205.  184.  196.  182.
   84.  329.  389.  368.  436.  356.  389.  339.  415.  312.  395.  319.
  358.  327.  272.  174.  289.  264.  147.   60.  233.   76.  150.  116.
  139.  190.  302.  302.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.