# Datos climaticos 

Unir los datos climáticos con las estaciones

In [ ]:
import pandas as pd
import os
import sys
from datetime import datetime
from dateutil import tz
module_path = os.path.abspath(os.path.join('../src'))
if module_path not in sys.path:
    sys.path.append(module_path)
import AOD_data
import importlib
importlib.reload(AOD_data)

In [ ]:
#| default_exp Climate_data

In [ ]:
temp_2018_01_02= pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_01_to_02.csv')
temp_2018_01_02. head()

,id,temperature_2m,total_evaporation,u_component_of_wind_10m,v_component_of_wind_10m,total_precipitation,leaf_area_index_high_vegetation,leaf_area_index_low_vegetation,total_precipitation_hourly,timestamp
0,AJU,285.002533,-0.000869,0.781372,0.862854,0.000005,4.858032,2.128418,0.0,2018-01-01T01:00:00
1,AJM,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
2,DIC,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
3,EAJ,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
4,CCA,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00

In [ ]:
temp_2018_01_02 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_01_to_02.csv')
temp_2018_03_04 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_03_to_04.csv')
temp_2018_05_06 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_05_to_06.csv')
temp_2018_07_08 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_07_to_08.csv')
temp_2018_09_10 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_09_to_10.csv')
temp_2018_11_12 = pd.read_csv('../data_s/red_est_ERA5_LAND_HOURLY_2018_11_to_12.csv')

In [ ]:
temp_2018= pd.concat([temp_2018_01_02,
                      temp_2018_03_04,
                      temp_2018_05_06,
                      temp_2018_07_08,
                      temp_2018_09_10,
                      temp_2018_11_12,
                     ])

In [ ]:
temp_2018.shape

(331608, 10)

In [ ]:
temp_2018.head()

,id,temperature_2m,total_evaporation,u_component_of_wind_10m,v_component_of_wind_10m,total_precipitation,leaf_area_index_high_vegetation,leaf_area_index_low_vegetation,total_precipitation_hourly,timestamp
0,AJU,285.002533,-0.000869,0.781372,0.862854,0.000005,4.858032,2.128418,0.0,2018-01-01T01:00:00
1,AJM,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
2,DIC,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
3,EAJ,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00
4,CCA,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00

In [ ]:
temp_2018['Estacion']= temp_2018['id']
temp_2018['TIME_STAMP'] = pd.to_datetime(temp_2018['timestamp']) ### 
### Change time zone 
local_time = 'America/Mexico_City'
print('Converting to local time: ', local_time)
temp_2018['Local_time']= temp_2018['TIME_STAMP'].dt.tz_localize('UTC').dt.tz_convert(local_time)
#tz_localize('utc').tz_convert('America/Mexico_City')
temp_2018['Local_time'+'_hour'] = temp_2018['Local_time'].apply(lambda l: l.hour)
temp_2018['Local_time'+'_date'] = temp_2018['Local_time'].apply(lambda l: l.date)
temp_2018.head()

Converting to local time:  America/Mexico_City

,id,temperature_2m,total_evaporation,u_component_of_wind_10m,v_component_of_wind_10m,total_precipitation,leaf_area_index_high_vegetation,leaf_area_index_low_vegetation,total_precipitation_hourly,timestamp,Estacion,TIME_STAMP,Local_time,Local_time_hour,Local_time_date
0,AJU,285.002533,-0.000869,0.781372,0.862854,0.000005,4.858032,2.128418,0.0,2018-01-01T01:00:00,AJU,2018-01-01 01:00:00,2017-12-31 19:00:00-06:00,19,2017-12-31
1,AJM,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00,AJM,2018-01-01 01:00:00,2017-12-31 19:00:00-06:00,19,2017-12-31
2,DIC,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00,DIC,2018-01-01 01:00:00,2017-12-31 19:00:00-06:00,19,2017-12-31
3,EAJ,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00,EAJ,2018-01-01 01:00:00,2017-12-31 19:00:00-06:00,19,2017-12-31
4,CCA,288.656830,-0.000988,0.602661,0.233948,0.000005,0.843750,1.616577,0.0,2018-01-01T01:00:00,CCA,2018-01-01 01:00:00,2017-12-31 19:00:00-06:00,19,2017-12-31

In [ ]:
PM25_dat = AOD_data.load_PM25('../data_s/PM2.5/PM2_5_2004-2021.csv',
                     initial_interval='2018-01-01',
                     end_interval='2019-01-01')

In [ ]:
PM25_dat.head()

,CVE_EST,FECHA,HORA,PARAMETRO,VALOR,UNIDAD,Estacion,FECHA_date
270714,AJM_ZMVM,2018-01-05,10,pm2.5,1.0,µg/m<sup>3</sup>,AJM,2018-01-05
270715,AJM_ZMVM,2018-01-05,11,pm2.5,1.0,µg/m<sup>3</sup>,AJM,2018-01-05
270716,AJM_ZMVM,2018-01-05,12,pm2.5,1.0,µg/m<sup>3</sup>,AJM,2018-01-05
270873,AJM_ZMVM,2018-01-12,1,pm2.5,1.0,µg/m<sup>3</sup>,AJM,2018-01-12
270874,AJM_ZMVM,2018-01-12,2,pm2.5,1.0,µg/m<sup>3</sup>,AJM,2018-01-12

In [ ]:
temp_PM25_esta =  temp_2018.merge(PM25_dat,
                                  how= 'left',
                                  right_on = ['Estacion','HORA', 'FECHA_date' ],
                                  left_on=['Estacion','Local_time_hour' ,'Local_time_date' ]
                                 )

In [ ]:
temp_PM25_esta=  temp_PM25_esta[temp_PM25_esta['VALOR'].isna()==False]

In [ ]:
temp_PM25_esta.head()

,id,temperature_2m,total_evaporation,u_component_of_wind_10m,v_component_of_wind_10m,total_precipitation,leaf_area_index_high_vegetation,leaf_area_index_low_vegetation,total_precipitation_hourly,timestamp,...,Local_time,Local_time_hour,Local_time_date,CVE_EST,FECHA,HORA,PARAMETRO,VALOR,UNIDAD,FECHA_date
1252,MER,281.923691,-0.000048,-0.030884,-1.376406,0.000079,0.000000,0.583862,0.000000e+00,2018-01-02T07:00:00,...,2018-01-02 01:00:00-06:00,1,2018-01-02,MER_ZMVM,2018-01-02,1.0,pm2.5,9.0,µg/m<sup>3</sup>,2018-01-02
1261,NEZ,281.306503,-0.000024,-0.272095,-1.217226,0.000009,0.000000,1.160645,0.000000e+00,2018-01-02T07:00:00,...,2018-01-02 01:00:00-06:00,1,2018-01-02,NEZ_ZMVM,2018-01-02,1.0,pm2.5,11.0,µg/m<sup>3</sup>,2018-01-02
1265,XAL,280.949081,-0.000045,0.078491,-1.229433,0.000027,3.588623,0.658936,0.000000e+00,2018-01-02T07:00:00,...,2018-01-02 01:00:00-06:00,1,2018-01-02,XAL_ZMVM,2018-01-02,1.0,pm2.5,1.0,µg/m<sup>3</sup>,2018-01-02
1267,TLA,280.984238,-0.000052,0.358765,-1.358828,0.000051,4.437500,0.651123,0.000000e+00,2018-01-02T07:00:00,...,2018-01-02 01:00:00-06:00,1,2018-01-02,TLA_ZMVM,2018-01-02,1.0,pm2.5,1.0,µg/m<sup>3</sup>,2018-01-02
1293,MER,281.422318,-0.000050,0.308365,-0.828391,0.000079,0.000000,0.583862,8.344650e-07,2018-01-02T08:00:00,...,2018-01-02 02:00:00-06:00,2,2018-01-02,MER_ZMVM,2018-01-02,2.0,pm2.5,10.0,µg/m<sup>3</sup>,2018-01-02

In [ ]:
temp_PM25_esta.shape

(36524, 22)

In [ ]:
#nbdev.export.nb_export( '../notebooks/Clean_AOD_data.ipynb', lib_path='../src')