In [23]:
import geopandas as gpd
import pandas as pd
import shapely

In [13]:
rm_quote= lambda x: x.replace('\'', '')

In [21]:
df_estaciones=pd.read_csv('../data_s/Estaciones/Coord_estaciones_SINAICA.csv')
df_estaciones=df_estaciones.rename(columns=rm_quote)
for column in ['FUENTE', 'NOM_EST', 'CVE_EST', 'NOM_ENT','NOM_MUN'] :
    df_estaciones[column] = df_estaciones[column].apply(rm_quote)
df_estaciones.head()

,FUENTE,NOM_EST,CVE_EST,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LAT,LONG
0,sinaica,ajusco,AJU_ZMVM,9,Ciudad de México,276,parres,19.154286,-99.162778
1,sinaica,milpa alta,MPA_ZMVM,9,Ciudad de México,273,san francisco tecoxpa,19.199167,-99.010833
2,sinaica,pedregal,PED_ZMVM,9,Ciudad de México,274,álvaro obregón,19.325278,-99.204167
3,sinaica,plateros,PLA_ZMVM,9,Ciudad de México,274,álvaro obregón,19.367028,-99.200105
4,sinaica,camarones,CAM_ZMVM,9,Ciudad de México,266,azcapotzalco,19.468611,-99.170000

In [37]:
gdf_estaciones= gpd.GeoDataFrame(df_estaciones)
gdf_estaciones.geometry= gdf_estaciones.apply(lambda x: shapely.geometry.Point(x.LONG, x.LAT,), axis=1)
gdf_estaciones.set_crs(crs='EPSG:4326', inplace=True)

/home/miguel/.conda/envs/contaminantes/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:128: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

,FUENTE,NOM_EST,CVE_EST,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LAT,LONG,geometry
0,sinaica,ajusco,AJU_ZMVM,9,Ciudad de México,276,parres,19.154286,-99.162778,POINT (-99.16278 19.15429)
1,sinaica,milpa alta,MPA_ZMVM,9,Ciudad de México,273,san francisco tecoxpa,19.199167,-99.010833,POINT (-99.01083 19.19917)
2,sinaica,pedregal,PED_ZMVM,9,Ciudad de México,274,álvaro obregón,19.325278,-99.204167,POINT (-99.20417 19.32528)
3,sinaica,plateros,PLA_ZMVM,9,Ciudad de México,274,álvaro obregón,19.367028,-99.200105,POINT (-99.20010 19.36703)
4,sinaica,camarones,CAM_ZMVM,9,Ciudad de México,266,azcapotzalco,19.468611,-99.170000,POINT (-99.17000 19.46861)
...,...,...,...,...,...,...,...,...,...,...
86,sinaica,san nicolás,NE_AMM,19,Nuevo León,993,san nicolás de los garza,25.745278,-100.255000,POINT (-100.25500 25.74528)
87,sinaica,san pedro,SO2_AMM,19,Nuevo León,966,san pedro garza garcía,25.665278,-100.412778,POINT (-100.41278 25.66528)
88,sinaica,santa catarina,SO_AMM,19,Nuevo León,995,santa catarina,25.675556,-100.464722,POINT (-100.46472 25.67556)
89,sinaica,pueblo serena,SUR_AMM,19,Nuevo León,986,monterrey,25.575278,-100.249167,POINT (-100.24917 25.57528)
90,sinaica,pesquería,NE3_AMM,19,Nuevo León,988,pesquería,25.790556,-100.078528,POINT (-100.07853 25.79056)

In [38]:
gdf_estaciones.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [52]:
gdf_estaciones.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA.shp', encoding = 'utf-8')

In [53]:
df_estaciones_AOD=pd.read_csv('../data_s/AOD_estacione_met_Mexico.csv')
df_estaciones_AOD.dropna(subset=[ 'Optical_Depth_047'], axis=0)

,CVE_ENT,CVE_EST,CVE_MUN,FUENTE,LAT,LONG,NOM_ENT,NOM_EST,NOM_MUN,Optical_Depth_047,AOD_Uncertainty,timestamp
43,14,CEN_ZMG,570,sinaica,20.673765,-103.333336,Jalisco,centro,guadalajara,233.0,770.0,2017-01-01T17:05:00
44,14,MIR_ZMG,570,sinaica,20.614444,-103.343333,Jalisco,miravalle,guadalajara,201.0,543.0,2017-01-01T17:05:00
45,14,OBL_ZMG,570,sinaica,20.700539,-103.296617,Jalisco,oblatos,guadalajara,225.0,624.0,2017-01-01T17:05:00
46,14,VAL_ZMG,651,sinaica,20.680193,-103.398551,Jalisco,vallarta,guadalajara,269.0,569.0,2017-01-01T17:05:00
47,14,SFE_ZMG,628,sinaica,20.529149,-103.377179,Jalisco,santa fe,la uni�n del cuatro,262.0,385.0,2017-01-01T17:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...
8990,15,MT_ZMVT,54,sinaica,19.270194,-99.595194,M�xico,metepec,metepec,86.0,291.0,2017-01-14T19:40:00
8991,15,SM_ZMVT,76,sinaica,19.280417,-99.541667,M�xico,san mateo atenco,san mateo atenco,105.0,324.0,2017-01-14T19:40:00
8992,15,CB_ZMVT,106,sinaica,19.260306,-99.645722,M�xico,ceboruco,toluca,139.0,218.0,2017-01-14T19:40:00
8993,15,OX_ZMVT,106,sinaica,19.283444,-99.683489,M�xico,oxtotitl�n,toluca,163.0,268.0,2017-01-14T19:40:00
8994,15,SC_ZMVT,106,sinaica,19.327222,-99.634289,M�xico,san cristobal,toluca,80.0,309.0,2017-01-14T19:40:00

In [42]:
pd.read_csv('../data_s/red_estaciones_todos_2018.csv')

        id  Optical_Depth_047  AOD_Uncertainty  hour_day            timestamp
0      AJU                NaN              NaN        18  2018-01-01T18:10:00
1      AJM                NaN              NaN        18  2018-01-01T18:10:00
2      DIC                NaN              NaN        18  2018-01-01T18:10:00
3      EAJ                NaN              NaN        18  2018-01-01T18:10:00
4      CCA                NaN              NaN        18  2018-01-01T18:10:00
...    ...                ...              ...       ...                  ...
33492  LPR              363.0            855.0        20  2018-12-31T20:05:00
33493  TLA                NaN           1341.0        20  2018-12-31T20:05:00
33494  FAC                NaN            456.0        20  2018-12-31T20:05:00
33495  ATI                NaN            868.0        20  2018-12-31T20:05:00
33496  VIF                NaN           1306.0        20  2018-12-31T20:05:00

[33497 rows x 5 columns]