In [ ]:
import geopandas as gpd
import pandas as pd
import shapely

In [ ]:
rm_quote= lambda x: x.replace('\'', '')

In [ ]:
df_estaciones=pd.read_csv('../data_s/Estaciones/Coord_estaciones_SINAICA.csv')
df_estaciones=df_estaciones.rename(columns=rm_quote)
for column in ['FUENTE', 'NOM_EST', 'CVE_EST', 'NOM_ENT','NOM_MUN'] :
    df_estaciones[column] = df_estaciones[column].apply(rm_quote)
df_estaciones.head()

,FUENTE,NOM_EST,CVE_EST,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LAT,LONG
0,sinaica,ajusco,AJU_ZMVM,9,Ciudad de México,276,parres,19.154286,-99.162778
1,sinaica,milpa alta,MPA_ZMVM,9,Ciudad de México,273,san francisco tecoxpa,19.199167,-99.010833
2,sinaica,pedregal,PED_ZMVM,9,Ciudad de México,274,álvaro obregón,19.325278,-99.204167
3,sinaica,plateros,PLA_ZMVM,9,Ciudad de México,274,álvaro obregón,19.367028,-99.200105
4,sinaica,camarones,CAM_ZMVM,9,Ciudad de México,266,azcapotzalco,19.468611,-99.170000

In [ ]:
gdf_estaciones= gpd.GeoDataFrame(df_estaciones)
gdf_estaciones.geometry= gdf_estaciones.apply(lambda x: shapely.geometry.Point(x.LONG, x.LAT,), axis=1)
gdf_estaciones.set_crs(crs='EPSG:4326', inplace=True)

/home/miguel/miniconda3/envs/data/lib/python3.10/site-packages/pandas/core/dtypes/cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

,FUENTE,NOM_EST,CVE_EST,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LAT,LONG,geometry
0,sinaica,ajusco,AJU_ZMVM,9,Ciudad de México,276,parres,19.154286,-99.162778,POINT (-99.16278 19.15429)
1,sinaica,milpa alta,MPA_ZMVM,9,Ciudad de México,273,san francisco tecoxpa,19.199167,-99.010833,POINT (-99.01083 19.19917)
2,sinaica,pedregal,PED_ZMVM,9,Ciudad de México,274,álvaro obregón,19.325278,-99.204167,POINT (-99.20417 19.32528)
3,sinaica,plateros,PLA_ZMVM,9,Ciudad de México,274,álvaro obregón,19.367028,-99.200105,POINT (-99.20010 19.36703)
4,sinaica,camarones,CAM_ZMVM,9,Ciudad de México,266,azcapotzalco,19.468611,-99.170000,POINT (-99.17000 19.46861)
...,...,...,...,...,...,...,...,...,...,...
86,sinaica,san nicolás,NE_AMM,19,Nuevo León,993,san nicolás de los garza,25.745278,-100.255000,POINT (-100.25500 25.74528)
87,sinaica,san pedro,SO2_AMM,19,Nuevo León,966,san pedro garza garcía,25.665278,-100.412778,POINT (-100.41278 25.66528)
88,sinaica,santa catarina,SO_AMM,19,Nuevo León,995,santa catarina,25.675556,-100.464722,POINT (-100.46472 25.67556)
89,sinaica,pueblo serena,SUR_AMM,19,Nuevo León,986,monterrey,25.575278,-100.249167,POINT (-100.24917 25.57528)
90,sinaica,pesquería,NE3_AMM,19,Nuevo León,988,pesquería,25.790556,-100.078528,POINT (-100.07853 25.79056)

In [ ]:
gdf_estaciones.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
gdf_estaciones.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA.shp', encoding = 'utf-8')

Para los casos de climaticos lo mas fácil es hacer una tabla por cada zona metropolitana

In [ ]:
gdf_estaciones_AMM = gdf_estaciones[gdf_estaciones['CVE_EST'].apply(lambda l: 'AMM' in l )]
gdf_estaciones_ZMVM= gdf_estaciones[gdf_estaciones['CVE_EST'].apply(lambda l: 'ZMVM' in l )]
gdf_estaciones_ZMG= gdf_estaciones[gdf_estaciones['CVE_EST'].apply(lambda l: 'ZMG' in l )]
gdf_estaciones_ZMVT= gdf_estaciones[gdf_estaciones['CVE_EST'].apply(lambda l: 'ZMVT' in l )]

In [ ]:
gdf_estaciones_AMM.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA_AMM.shp', encoding = 'utf-8') 
gdf_estaciones_ZMVM.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA_ZMVM.shp', encoding = 'utf-8')
gdf_estaciones_ZMG.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA_ZMG.shp', encoding = 'utf-8')
gdf_estaciones_ZMVT.to_file('../data_s/Estaciones/Coord_estaciones_SINAICA_ZMVT.shp', encoding = 'utf-8')

In [ ]:
df_estaciones_AOD=pd.read_csv('../data_s/AOD_estacione_met_Mexico.csv' )
df_estaciones_AOD.timestamp= pd.to_datetime(df_estaciones_AOD.timestamp)
df_estaciones_AOD.dropna(subset=[ 'Optical_Depth_047'], axis=0)

,CVE_ENT,CVE_EST,CVE_MUN,FUENTE,LAT,LONG,NOM_ENT,NOM_EST,NOM_MUN,Optical_Depth_047,AOD_Uncertainty,timestamp
134,14,CEN_ZMG,570,sinaica,20.673765,-103.333336,Jalisco,centro,guadalajara,444.0,174.0,2018-01-01 18:10:00
135,14,MIR_ZMG,570,sinaica,20.614444,-103.343333,Jalisco,miravalle,guadalajara,407.0,132.0,2018-01-01 18:10:00
136,14,OBL_ZMG,570,sinaica,20.700539,-103.296617,Jalisco,oblatos,guadalajara,393.0,142.0,2018-01-01 18:10:00
137,14,VAL_ZMG,651,sinaica,20.680193,-103.398551,Jalisco,vallarta,guadalajara,423.0,120.0,2018-01-01 18:10:00
138,14,SFE_ZMG,628,sinaica,20.529149,-103.377179,Jalisco,santa fe,la unión del cuatro,385.0,161.0,2018-01-01 18:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...
19472,19,SUR_AMM,986,sinaica,25.575278,-100.249167,Nuevo León,pueblo serena,monterrey,90.0,311.0,2018-01-31 19:55:00
19574,9,VIF_ZMVM,20,sinaica,19.657500,-99.096667,Ciudad de México,villa de las flores,coacalco de berriozábal,258.0,726.0,2018-01-31 16:45:00
19619,15,TLI_ZMVM,765,sinaica,19.602778,-99.177222,México,tultitlán,buenavista,390.0,561.0,2018-01-31 16:45:00
19622,15,XAL_ZMVM,689,sinaica,19.526111,-99.082500,México,xalostoc,ecatepec de morelos,362.0,594.0,2018-01-31 16:45:00
19632,15,LPR_ZMVM,760,sinaica,19.535000,-99.117778,México,la presa,tlalnepantla de baz,315.0,448.0,2018-01-31 16:45:00

In [ ]:
df_estaciones_AOD.tail()

,CVE_ENT,CVE_EST,CVE_MUN,FUENTE,LAT,LONG,NOM_ENT,NOM_EST,NOM_MUN,Optical_Depth_047,AOD_Uncertainty,timestamp
19833,19,NE_AMM,993,sinaica,25.745278,-100.255000,Nuevo León,san nicolás,san nicolás de los garza,NaN,NaN,2018-01-31T19:50:00
19834,19,SO2_AMM,966,sinaica,25.665278,-100.412778,Nuevo León,san pedro,san pedro garza garcía,NaN,NaN,2018-01-31T19:50:00
19835,19,SO_AMM,995,sinaica,25.675556,-100.464722,Nuevo León,santa catarina,santa catarina,NaN,NaN,2018-01-31T19:50:00
19836,19,SUR_AMM,986,sinaica,25.575278,-100.249167,Nuevo León,pueblo serena,monterrey,NaN,NaN,2018-01-31T19:50:00
19837,19,NE3_AMM,988,sinaica,25.790556,-100.078528,Nuevo León,pesquería,pesquería,NaN,NaN,2018-01-31T19:50:00

In [ ]:
df_estaciones_AOD.apply(lambda l : l.timestamp.hour, axis=1)

0        16
1        16
2        16
3        16
4        16
         ..
19833    19
19834    19
19835    19
19836    19
19837    19
Length: 19838, dtype: int64

In [ ]:

df_estaciones_AOD.timestamp.apply(lambda x : x.hour).unique()

array([16, 18, 19, 21, 17, 20])

In [ ]:
pd.read_csv('../data_s/red_estaciones_todos_2018.csv')

        id  Optical_Depth_047  AOD_Uncertainty  hour_day            timestamp
0      AJU                NaN              NaN        18  2018-01-01T18:10:00
1      AJM                NaN              NaN        18  2018-01-01T18:10:00
2      DIC                NaN              NaN        18  2018-01-01T18:10:00
3      EAJ                NaN              NaN        18  2018-01-01T18:10:00
4      CCA                NaN              NaN        18  2018-01-01T18:10:00
...    ...                ...              ...       ...                  ...
33492  LPR              363.0            855.0        20  2018-12-31T20:05:00
33493  TLA                NaN           1341.0        20  2018-12-31T20:05:00
33494  FAC                NaN            456.0        20  2018-12-31T20:05:00
33495  ATI                NaN            868.0        20  2018-12-31T20:05:00
33496  VIF                NaN           1306.0        20  2018-12-31T20:05:00

[33497 rows x 5 columns]