In [1]:
import geopandas as gpd

In [4]:

citiest = gpd.read_file('../data_s/silhueta_100_ciudades.shp')

In [5]:
citiest.head()

,OBJECTID,Shape_Leng,NOM_CIUDAD,Shape_Le_1,Shape_Area,CVE_SUN,SUN,geometry
0,1,435907.555183,Acapulco,435.907555,354447.942355,17,17.0,"MULTIPOLYGON (((2742572.602 584620.256, 274280..."
1,2,276964.138282,Acayucan,276.964138,82848.026203,54,54.0,"POLYGON ((3220167.744 687027.914, 3220140.712 ..."
2,3,295706.026045,Aguascalientes,295.706026,180402.451345,1,1.0,"POLYGON ((2489072.505 1115771.584, 2489352.774..."
3,4,554077.721598,Cancún,554.077722,302584.453724,37,37.0,"MULTIPOLYGON (((4036728.716 1104178.012, 40367..."
4,5,300393.214161,Celaya,300.393214,116046.700029,57,57.0,"POLYGON ((2641643.806 962867.860, 2641607.547 ..."

In [12]:
citiest.crs

<Derived Projected CRS: PROJCS["International_Terrestrial_Reference_Frame_ ...>
Name: International_Terrestrial_Reference_Frame_1992Lambert_Conformal_Conic_2SP
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Lambert Conic Conformal (2SP)
Datum: International_Terrestrial_Reference_Frame_1992
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [9]:

ZMVM = citiest[citiest['CVE_SUN'] == '13']
ZMVM

,OBJECTID,Shape_Leng,NOM_CIUDAD,Shape_Le_1,Shape_Area,CVE_SUN,SUN,geometry
53,54,630172.981156,Valle de México,630.172981,781912.110166,13,13.0,"POLYGON ((2850091.668 826216.892, 2850069.511 ..."

In [13]:
ZMVM = ZMVM.to_crs('EPSG:4326')
ZMVM

,OBJECTID,Shape_Leng,NOM_CIUDAD,Shape_Le_1,Shape_Area,CVE_SUN,SUN,geometry
53,54,630172.981156,Valle de México,630.172981,781912.110166,13,13.0,"POLYGON ((-98.65714 19.39708, -98.65743 19.393..."

In [14]:
ZMVM.to_file('../data_s/ZMVM.shp')